body {
  background-color: rgb(51, 51, 51);
  color: rgb(216, 216, 216);
}
.nrcovid {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
}
.rcovid {
  font-size: 0.9rem;
  font-weight: 500;
  color: black;
}
.covi {
  text-transform: uppercase;

  color: #fe6507;
}

/* confimardos */
.cf,
.rc,
.mr {
  border-radius: 5px;
  padding: 0.5rem;
}
.mapa {
  max-width: 100%;
  text-align: center;
}

.contenedorPrincipal {
  display: flex;
  justify-content: space-between;
}
.img {
  width: 60%;
}
.datos {
  width: 40%;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* Estilos para telefono*/
@media only screen and (max-width: 720px) {
  body {
    background-color: black;
  }
  img {
    max-width: 100%;
  }
  .contenedorPrincipal {
    display: block;
  }
  .img {
    width: 100%;
  }
  .datos {
    width: 100%;
  }
}
